<nav class="navbar navbar-light bg-light justify-content-between px-5">
  <a class="navbar-brand">MoviesLover</a>
  <%= link_to 'Create a List', new_list_path, class: "btn btn-primary" %>
</nav>

<div class="banner">
  <div class="banner-image" style="background-image: url('https://images.adsttc.com/media/images/5f7d/fef2/63c0/170a/9100/0273/large_jpg/Jiangnan_Photography.jpg?1602092773')">
    <div class="banner-text">
      <h1>WATCH LIST</h1>
      <p>where you can find your favorite ones</p>
    </div>
  </div>
</div>

<div class="lists-container">

  <div class="info-lists">
  </div>

  <div class="lists-grid">
    <% @lists.each do |list| %>
      <%= link_to list_path(list.id) do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.picture_url %>)">
            <%= list.name %>
        </div>
      <% end %>
    <% end %>
  </div>

</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made by idk 😅
  </div>
</div>
